@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@font-face {
    font-family: 'optic-font';
    src: url(./assetes/OPTICopperplate.otf);
}


:root{
    --primary-brown:#BA9E76;
    --dark-brown:#342F2C;
    --light-brown:#ECE5D3;
    --creamy-brown:#FFFBEF;
--primary-font:'optic-font','Montserrat',sans-serif;
--text-font:'Montserrat',sans-serif
}


*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
    margin-top: 80px;
    padding: 30px;
    font-family: Arial, sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    }

body::-webkit-scrollbar {
    display: none;
  }
  
.scrolltop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    background-color: var(--primary-brown);
    color: #f1f1f1;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px 20px;
  
}
  /* Hide scrollbar for IE, Edge and Firefox */
  
button{
    font-family: optic-font;
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border: none;
    cursor: pointer;
}
h1,h2,h3{
    font-family: var(--primary-font);
}
p{
    font-family: var(--text-font);
}

/*header*/
body {
    margin: 0;
    padding: 0;
  }
  
  .navbar{
    background-color: var(--primary-brown);
    position: sticky;
    font-family: var(--primary-font);
    top: 0;
    padding: 0;
    z-index: 100;
  box-shadow: 5px 0 10px var(--dark-brown);
  }
  
  /*nav {
    background-color: var(--primary-brown);
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color:var(--creamy-brown);
    font-size: 1.2em;
  }*/
  
  .navbar-brand {
    margin:0  30px;
    
   background-color: var(--creamy-brown);
   height: 95px;
   width: 200px;
   align-items: center;
   text-align: center;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .navbar-brand img {
      height: 100%;
      padding: 10px 0;
    }
    .navbar-nav {
    align-items: center;
    font-size: 1.4em;
  
    } 
   
  .navbar-nav li {
    margin: 0 90px; /* Adjust margin as needed */
    height: 100%;
    display: flex;
    align-items: center; /* Center the link vertically */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  .navbar-nav li a {
    padding: 80px 0;
    display: block;
    padding: 30px 10px; /* Adjust padding to cover full height */
    text-decoration: none;
    color: inherit;
    height: 100%;
  }
    .navbar-nav li:hover {
      background-color: var(--creamy-brown);
      color: var(--dark-brown);
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* Glow effect */
    
  }
  @media screen and (max-width: 768px) {
    .navbar-brand{
      width: 150px;
    }
  }
    /*hero*/
    #hero {
        height: 770px;
        position: relative;
        padding:  0;
        z-index: 2;
        background-color: var(--dark-brown);
    }
    
    .container {
      z-index: 200;
    max-width: 1200px;
    margin: 0 100px;
    padding: 40px;
  align-items: center;
}

h1, p {
    margin: 0 0 20px;
}
.bg-svg, .bg-pic {
    position: absolute;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0; /* Set z-index to 1 */
  
  }
  
  .bg-svg {
    height: 100%;
    left: 0;
    width: 40%;
    background-image: url('assetes/Vector.svg');
  }
  
  .bg-pic {
    right: 0;
    width: 60%;
    background-image: url('assetes/heropic1.jpg');
    height: 100%;
  }
  .container .cta {
    background-color: var(--primary-brown);
    position: relative;
    z-index: 2; /* Set z-index to 2, so it's in front of the backgrounds */
    /* Rest of the styles */
    padding: 20px 30px;
  }
  .container h1,p{
    position: relative;
  z-index: 3;
  color: var(--creamy-brown);

  }
  .container h1{
    margin-top: 90px;
    font-weight: 900;
    font-size: 3em;
  }
  .container p{
    line-height: 30px;
  }
  .line-breaker {
    height: 5px;
    width: 117px;
    margin: 20px 0;
    background-color: var(--primary-brown);
  }
  .slide-image{
    display: flex;
  
  }
  .slide-image button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-left: 2px solid #C7C1B2;
    width:480px;
    height: 220px;
    background-color: var(--light-brown);
    color: var(--dark-brown);
    font-size: 1.2em;
  
  }
 
  .slide-image image{
    margin-bottom: 10px;
  }
  .slide-image button:hover{
    background-color: var(--primary-brown);
    color: var(--creamy-brown);
  }
  /*about us */
  #image-section {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--creamy-brown);
  }
  
  .image-section-content {
    display: flex;
    justify-content: space-around;
    gap: 90px;
    align-items: center;
    width: 80%; /* Adjust this value to change the width of the content */
   margin: 200px 0;

  }
  
  .images-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .images-container .img1{
    position: relative;
    top:-85px
  }

.text-container {
 text-align: left;
  margin-bottom: 80px;
 
  }
  .text-container h2{
    font-size: 1em;
color: var(--primary-brown);
  }
.text-container h1{
     width: 500px;
     font-size: 1.8em;
     color: var(--dark-brown);
}

.text-container p{
  color: var(--dark-brown);
   line-height: 20px;
}
/*banner*/
#banner {
    background-color: var(--dark-brown);
    height: 200px;
    display: flex;
    justify-content:center;
padding-top: 0;
}

.element{
    display: flex;
    align-items: center;
    
    height: 90px;
    margin: 60px;
   
}

.element img{
    height: 44px;
    width: 44px;
    margin-bottom: 40px;
    
}
.img-banner-2 img{
    height:66px;
    width: 68px;
}
.img-banner{
    margin-right:20px;
   text-align: center;   
}
.element h1{
color: var(--creamy-brown);
    font-size: 1.3em;
}
.element p{
  width: 300px;
    font-size: 1em;
    color: var(--creamy-brown);
}
/*costume request*/
.images-container1{
  flex-direction: column;
}
.images-container1 .img2{
  position: relative;
  top: 0;
right: 60px;
}
.make-a-request{
  display: grid;
    grid-template-columns: 1fr auto;
   align-items: center;
 padding: 80px 40px;
   background-color: var(--light-brown);
}
.h1-strength {
  margin-right:120px ;
  margin-left: 80px;
}

.p-strength{
width: 600px;
  color: var(--dark-brown);
  margin-left: 200px;
  margin-right: 20;
  padding-left:200px ;
}
.container-last{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
  padding: 10px;
}
.flex-col{
  display: flex;
  flex-direction: column;

}
.footer {
  background: url('assetes/Vector.svg');
  background-color: var(--dark-brown);
  color: var(--creamy-brown);
  background-repeat: no-repeat;

  background-size: 26% auto;

}

.containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
 gap: 200px;


}

.footer-left {
  flex: 0 1 auto;
  width: 100%; /* Adjust width as needed */
  max-width:400px;
 /* Adjust max-width as needed */

border-right: solid 5px var(--primary-brown);
background-size: cover;
  padding-right: 20px;
  margin-left: 80px;
  align-items: center;
}

.footer-logo {
  margin-bottom: 10px;
}
.footer-logo img {
  width: 100%;
}

.footer-right {
  flex: 1 1 auto;
  margin-top: 20px;

}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  text-align: left;
}

.footer-grid-item {
  padding: 10px;
}

.footer-grid-item h4 {
  margin-bottom: 10px;
}

.footer-grid-item ul {
  list-style: none;
  padding: 0;
}

.footer-grid-item ul li {
  margin-bottom: 5px;
}

.footer-grid-item a {
  color:var(--creamy-brown);
  text-decoration: none;
}

.footer-grid-item a:hover {
  text-decoration: underline;
}
.background-1 {
  background-image: url('assetes/costum1.jpg');
}

.background-2 {
  background-image: url('background2.jpg');
}

.background-3 {
  background-image: url('background3.jpg');
}

.background-4 {
  background-image: url('background4.jpg');
}